<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day6LearningServletConfig</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfigParameterController</display-name>
    <servlet-name>ConfigParameterController</servlet-name>
    <servlet-class>com.accenture.config.controller.ConfigParameterController</servlet-class>
    <init-param>
      <param-name>DBURL</param-name>
      <param-value>http://localhost:8080/myApp</param-value>
    </init-param>
    <init-param>
      <param-name>LogURL</param-name>
      <param-value>c:/myAppLog</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigParameterController</servlet-name>
    <url-pattern>/ConfigParameterController</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Username</param-name>
    <param-value>accenture</param-value>
  </context-param>
  <context-param>
    <param-name>Password</param-name>
    <param-value>acn123</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>AnotherController</display-name>
    <servlet-name>AnotherController</servlet-name>
    <servlet-class>com.accenture.config.controller.AnotherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnotherController</servlet-name>
    <url-pattern>/AnotherController</url-pattern>
  </servlet-mapping>
</web-app>